{% extends "base.html" %}

{% block content %}
    <h1 class="ui header">修改密码</h1>
    <form class="ui form" method="post">
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.old_password.label }}
            {{ form.old_password() }}
        </div>
        <div class="field">
            {{ form.new_password.label }}
            {{ form.new_password() }}
        </div>
        <div class="field">
            {{ form.confirm_password.label }}
            {{ form.confirm_password() }}
        </div>
        {{ form.submit(class="ui primary button") }}
    </form>
{% endblock %}
